/*
Joshua Snyder
MIU 1212
Project 3
*/

label.error {
    display: block;
    margin: 10px 0;
    color: red;
}

#reqLinks {
    list-style-type: none;
}

#errorsLink {
    display: none;
}

/* custom icons */
.ui-icon-thumb-american {
    background-image: url("American-44x24.png");
}