/*
Joshua Snyder
MIU 1212
Project 1
*/

/* html {
    background-color: #F257AC;
} */ /* Background for index.html and addItem.html pages */

html {
    background-image: url('gradient-purple.gif');
    background-color: #cccccc
}

h1 {
    font: 3.0em "Brush Script MT", cursive;
    color: red;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5 );
    margin: 20px;
}

#search {
    display: inline;
    padding-left: 101px;
}

#rcpInfo > li > label {
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 2px;
}

fieldset {
    background-color: #688282;
    margin-bottom: 10px;
}

        fieldset > legend {
            font: 1.0em "Arial Black", Gadget, sans-serif;
        }

        fieldset > ul > li {
            font: 0.9em "Arial Black", Gadget, sans-serif;
        }

#category {
    display: block;
}

#rcpInfo > li {
    padding-bottom: 2px;
}

#thumbnailImg {
    padding-top: 3px;
    padding-left: 2px;
}

#clearAll {
    font: 1.1em "Brush Script MT", cursive;
    color: red;
    margin-left: 2px; 
    margin-right: 10px;
}

#viewLink {
    font: 1.1em "Brush Script MT", cursive;
    color: red;
}

#addRcp {
    font: 1.1em "Brush Script MT", cursive;
    color: red;
}

#items > ul > li {
    font: 1.4em "Brush Script MT", cursive;
    outline-style: ridge;
    outline-color: black;
    outline-width: thin;
    box-shadow: 2px 5px 0 0 rgba(72, 72, 72, 1);
    background-color: #FAEBD7;
    margin-top: 10px;
}

#items > ul > li > ul > li:nth-of-type(odd) {
    background-color: white;
}

#addIt {
    font: 1.0em "Arial Black", Gadget, sans-serif;
}

#reqLinks {
    list-style-type: none;
/* index.html page */

